@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFF;
}

.main{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Первый блок */
.first-block{
    margin: 0;
    padding: 0;
    display: flex;
    height: 72vh;
}

/* Стили карусели */
.slider{
    width: 100%;
    overflow: hidden;
}

/* Позиционирование слайдбаров */

.leftpos{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.navigation{
    position: absolute;
    bottom: 40px;
    left: 10%;
    transform: translateX(-10%);
    display: flex;
}

/* Слайд бары */
.slidebar{
    width: 35px;
    height: 4px;
    cursor: pointer;
    margin: 6px;
    background-color: rgb(0, 0, 0);
    border: none;
    transition: 1s linear;
}
.slidebar:hover{
    background-color: #182B5A;
    transform: scale(1.1);
}

/* Скрываем радиобатаны */

input[name="s"]{
    position: absolute;
    visibility: hidden;
} 

/* Настраиваем контент(img, text, btn) */

.slider-navigation{
    width: 400%;
    height: 100%;
    display: flex;
}

.content{
    width: 25%;
    transition: all .6s ease;
}
.content img{
    width: 100%;
    height: 72vh;
}

.content-text{ 
    left: 9%;
    top: 35%; 
    position:absolute;
}

/* Стили текстового блока */
.content-text button{
    margin-top: 20px;
    width: 230px;
    height: 50px;
    font-size: 1em;
    border: 3px solid #182B5A;
    font-family: Noto Sans, serif; 
    color: #182B5A;
    text-align: center;
    background-color: transparent;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}
.content-text p{
    font-family: Noto Sans, serif;
    color: #182B5A;
    font-size: 40px;
    font-weight: bold;

}

/* Анимация наведения на кнопку */
button:hover{
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.452);
}

/* @keyframes btnhover{
    100%{
        transform: scale(0.9);
        background-color: rgba(255, 255, 255, 0.452);
    }
} */

/* Анимация перехода со слайда на слайд */
#s1:checked ~ .c1{
    margin-left: 0;
}
#s2:checked ~ .c1{
    margin-left: -25%;
}
#s3:checked ~ .c1{
    margin-left: -50%;
}
#s4:checked ~ .c1{
    margin-left: -75%;
}

/* Второй блок */
.second-block{
    width: 100%;
    display: flex;
    height: 740px;
    justify-content: space-evenly;
}

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.wrapper-info{
    align-items: center;
    top: 48%;
    left: 10%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.first-layer-holder{
    display: flex;
    align-items: flex-end;
}

.wrapper-info p{
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: 500;
}

.wrapper-info button{
    margin-top: 25px;
    width: 320px;
    height: 55px;
    color: #FEFEFE;
    background-color: transparent;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    border: 3px solid #FEFEFE;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}
.first-layer{
    background: url('../img/Vector.png') no-repeat top right 130px;
    flex-direction: column;
    text-align: right;
    display: flex;
    position: relative;
    z-index: 4;
}

.second-layer{
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.second-layer img{
    clip-path: polygon(0 0, 100% 0, 85.5% 100%, 0 100%);
    height: 100%;
    position: relative;
    /* width: 85%; */
    left: 40px;
}

.first-layer img{
    right: 112px;
    position: relative;
    clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0 100%);
    width: 1059px;
    height: 605px;
}

.first-layer p{
    margin: 43px 355px 43px 10px;
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: 500;
}

.third-layer{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #182B5A;
}

.thourh-layer{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1; 
    background: rgba(24, 43, 90, 0.90);
}

.fifth-layer{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background:  url('/src/img/Vector.png') right top no-repeat; */
}

/* Третий блок */

.third-block{
    padding-top: 100px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
}

.block-3-text{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 804px;
}

.block-3-text button{
    margin-top: 20px;
    background-color: transparent;
    width: 165px;
    height: 50px;
    color: #182B5A;
    font-family: Noto Sans, sans-serif;
    font-size: 1em;
    border: 3px solid #182B5A;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}

.block-3-text p{
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.block-3-text h1{
    
    color: #182B5A;
    font-family: Noto Sans, sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.back-box{
    width: 763px;
    height: 510px;
    background: #182B5A url('../img/Vector-block-3.png') center no-repeat;
}

.third-block img{
    top: 50px;
    left: 50px;
    position: absolute;
}

.media-conteiner{
    display: flex;
    position: relative;
    justify-content: center;
}

/* Четвёртый блок */

.fourth-block{
    background-color: #182B5A;
    background-repeat: no-repeat;
    background-position: bottom left 20px, bottom right 40px;
    background-image: url('../img/first-build-block-4.svg'),url('../img/second-build-block-4.svg');
}

.fourth-block>p{
    padding-top: 100px;
    margin-bottom: 43px;
    color: #FEFEFE;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.form>button{
    margin-bottom: 53px;
    margin-top: 20px;
    background-color: transparent;
    color: #FEFEFE;
    font-family: Noto Sans, sans-serif;
    font-size: 1em;
    border: 3px solid #FEFEFE;
    width: 175px;
    height: 50px;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.check-box{
    align-items: center;
    justify-content: center;
    display: flex;
}

.check-box a{
    color: #FEFEFE;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-decoration-line: underline;
}

.form>input{
    margin-bottom: 20px;
    border: none;
    width: 415px;
    height: 55px;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    padding-left: 30px;
    padding-top:2px;
}

.check-box p{
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 1em;
}

.check-box input{
    border: none;
    width: 24px;
    height: 24px;
    background: #FEFEFE;
    margin-right: 10px;
}


input[type=text]::placeholder {
    color: #182B5A;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}


/* Пятый блок */

.map-text{
padding-left: 60px;
}

.fifth-block{
    display: flex;
}

.map-holders{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 0.55fr;
}

.items-4,
.items-8{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 36px;
}

.map-holder{
    align-items: center;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}


.map-holder a{
    text-decoration: none;
    color: #000;

}

.map-styles{
    height: 392px;
    width: 50%;
}

.map-holder p{
    margin: 10px;
    margin-left: -40px;
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

#requisites{
    color: #182B5A;
}

h2{
    position: relative;
    top: 80px;
    left: 4%;
    color: #182B5A;
    font-family: Noto Sans;
    font-size: 2em;
    font-weight: bold;
}

/* Footer */

footer{
    height: 273px;
    background: #182B5A url('../img/footer.svg') center no-repeat;
}

.footer-text{
    margin-left: 100px;
    padding-top: 60px;
}

.footer-text p{
    color: #FEFEFE;
    margin-bottom: 1em;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

/* Разрешние под 1366 */

@media (max-width: 1550px){
    .content img{
        height: 60vh;
    }

    .first-block{
        height: 60vh;
    }

    .back-box,
    .third-block img
    {
        width: 550px;
        height: 435px;
    }

    .block-3-text{
        width: 500px;
    }

    .map-styles{
        height: 489px;
    }
    .map-holders{
        grid-template-columns: auto;
    }

    .items-8 #requisites{
        text-align: start;
        margin-left: 3px;
    }

    .items-4{
        margin-top: 70px;
    }

    .items-8{
        margin-top: 31px;
    }

    h2{
        top:40px;
        font-size: 24px;
    }

    .thourh-layer,
    .wrapper-info button{
        visibility: hidden;
    }

    .wrapper p{
        font-size: 24px;
    }

    .first-layer p{
        margin: 26px 456px 26px 0px
    }

    .first-layer{
        background: url('../img/Vector.png') no-repeat top right 47px;
    }

    .first-layer img{
        right: 69px;
        clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0 100%);
        width: 1023px;
        height: 650px;
    }
    
    .second-layer{
        width: 100%;
        height: 100%;
        background: url('../img/Vector.png') no-repeat bottom left 60px;
    }

    .second-layer img{
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        height: 85%;
        left: 82px;
    }

    .wrapper-info{
        top: 90%;
    }
}

/* Разрешение 1024 */
@media (max-width: 1300px){
    
    .content-text p{
        font-size: 24px;
    }

    .content-text button{
        font-size: 14px;
        width: 200px;
        height: 40px;
    }

    .content img{
        height: 40vh;
    }

    .first-block{
        height: 40vh;
    }

    .block-3-text br{
        display: none;
    }

    .block-3-text h1{
        margin-bottom: 20px;
    }

    .block-3-text p{
        font-size: 14px;
    }

    .block-3-text button{
        width: 131px;
        height: 40px;
        font-size: 14px;
    }

    .back-box,
    .third-block img
    {
        width: 369px;
        height: 357px;
    }

    .third-block img{
        top: 21px;
        left: 13px;
    }

    .footer-text p{
        font-size: 14px;
    }

    .fifth-block{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .map-styles{
        width: 100%;
        height: 298px;
    }

    .map-holders{
        margin-left: -100px;
        display: grid;
        grid-column-gap: 0;
        grid-template-columns: 1fr 0.7fr;
        margin-bottom: 20px;
    }
    
    .items-4,
    .items-8{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 130px;
    }
    
    .map-holder{
        align-items: center;
        display: grid;
        grid-template-columns: 0.3fr 1fr;
    }

    h2{
        top: 40px;
        left: 0;
        text-align: center;
    }

    .items-8 #requisites{
        margin-left: -50px;
    }

    .fourth-block{
        background-size: 300px, 200px;
    }

    .fourth-block>p{
        font-size: 24px;
    }

    .wrapper p{
        font-size: 1em;
    }

    .second-block{
        height: 334px;
    }

    .first-layer img {
        right: 21px;
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 100%);
        width: 547px;
        height: 254px;
    }

    .second-layer img {
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
        height: 85%;
        width: 739px;
        left: 0px;
    }
    
    .first-layer img {
        right: 67px;
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 100%);
        width: 639px;
        height: 277px;
    }

    .first-layer p {
        margin: 9px 331px 19px 0px;
    }

    .wrapper-info {
        top: 89%;
        left: 11.5%;
    }
}

@media (max-width: 753px){
    .content img{
        height: 28vh;
    }

    .first-block{
        height: 28vh;
    }


    .content-text{
        left: 18%;
        text-align: center;
        align-items: center;
    }

    .content-text p {
        font-size: 1em;
    }

    .content-text button {
        font-size: 14px;
        width: 170px;
        height: 40px;
    }

    .navigation{
        left: 44%;
        transform: translateX(-30%);
    }

    .second-block {
        height: 260px;
    }

    .first-layer img {
        right: -20px;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
        width: 220px;
        height: 190px;
    }

    .second-layer img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 85%;
        width: 739px;
        left: 0px;
    }

    .media-conteiner {
        display: none;
    }

    .block-3-text {
        text-align: center;
        padding-left: 25px;
        width: 440px;
        align-items: center;
    }

    .fourth-block>p {
        text-align: center;
        font-size: 18px;
        width: 282px;
    }

    .fourth-block>p{
        margin-left: 20%;
        margin-right: 20%;
    }

    .fourth-block {
        background-color: #182B5A;
        background-repeat: no-repeat;
        background-position: bottom left 20px, bottom right 40px;
        background-image: none;
    }

    .form>input {
        width: 361px;
        height: 50px;
    }
    

    .footer-text {
        text-align: center;
        padding-top: 20px;
        padding-right: 90px;
    }

    footer {
        height: 333px;
    }

    .map-holders{
        text-align: center;
        grid-template-columns: auto;
    }

    .items-8 #requisites{
        text-align: start;
        margin-left: 1px;
    }

    .items-4{
      margin-top: 70px;
    }

    .items-4::after{
        margin-top: 39px;
        margin-bottom: 39px;
        content: "";
        width: 440px;
        height: 2px;
        background-color: #C4C4C4;
    }

    .items-8{
        margin-top: 31px;
    }

    h2{
        top:40px;
        font-size: 18px;
    }
    .map-text {
        padding-left: 2px;
    }
    .items-4, .items-8{
        align-items: center;
    }
    .items-4 img{
        margin-right: 60px;
    }
    .items-8 #requisites {
        text-align: start;
        margin-right: 48px;
    } 
    
    input[type=text]::placeholder {
        text-align: center;
    }
    .form>input{
        text-align: center;
        padding: 0;
    }

    .wrapper-info {
        top: 85%;
        left: -6%;
    }
    .first-layer img {
        right: 12px;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
        width: 267px;
        height: 200px;
    }
    .first-layer p {
        margin: 17px 71px 14px 0px;
    }
    .second-layer {
        width: 68%;
        height: 100%;
        background: url(../img/Vector.png) no-repeat bottom left 60px;
    }
    .second-layer img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 80%;
        width: 400px;
        left: -25px;
    }
    .first-layer {
        background: url(../img/Vector.png) no-repeat top right 40px;
    }
}